header, footer {
  background:#fb32ff;
}
.header-links {
  float:right;
  clear:right;
}

ul {
  list-style-type: none;
}

#login_div {
  display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 50%;
    margin: auto;
}

textarea {
  /*resize: none;*/
  width: 99%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#naslov {
  font-weight: bold;
}
#popular_posts_user .post {
    width: 80%;
    margin: 0 auto; 
    margin-bottom: 30px;
    margin-top: 10px;
    box-sizing: border-box;
    border:1px solid black;
    background-color: #b8d1db; 
}
#popular_posts_regUser .post {
    width: 80%;
    margin: 0 auto; 
    margin-bottom: 30px;
    margin-top: 10px;
    box-sizing: border-box;
    border:1px solid black;
    background-color: #b8d1db; 
}
#popular_posts_admin .post {
    width: 80%;
    margin: 0 auto; 
    margin-bottom: 30px;
    margin-top: 10px;
    box-sizing: border-box;
    border:1px solid black;
    background-color: #b8d1db; 
} 

.button_commment {
  float: right;
}

#logo {
  width: 90px;
  height: 30px;
}
footer {
  clear:both;
}
body {
  background:grey;
}
.centered-content {
  max-width:960px;
  margin-left:auto;
  margin-right:auto;
}
.main {
  min-height:1000px;
  
}

.Title{
  font-weight: bold;
}



.tekst_objave{
  margin: 10px 3px 10px 3px;
}

#najnovejseObjave {
  text-align: center;
}

#main {
  flex-grow:1;
  flex-flow:column;
  display:flex;
  background:yellow;
}
article form label {
  float:left;
  width:120px;
  clear:left;
}

.no-fixed-width {
  width:auto;
}
article form input,
article form textarea {
  float:left;
}
.content article {
  clear:both;
}

nav {
  display:block;
  width:20%;
  float:left;
  flex-flow: column;
}

.delete_post {
  float: right;
}



.content {
  width:55%;
  float:left;
}


#main {
  flex-flow:column;
}
@media screen
  and (min-width: 414px) {
    
}
@media screen
  and (min-width: 1024px) {
    nav li {
    float:none;
    }
  #main {
    flex-flow:row;
  }
}


form {
  width: 20em;
}


